:root {
  background-color: steelblue;
}

.Page {
  display: grid;
}

.Favourite {
  font-family: monospace;
  border-style: groove;
  font-size: large;
  grid-column: 1 / 1;
  grid-row: 1;
}

.Map {
  outline: black groove;
  grid-column: 5 / 11;
  grid-row: 1;
  height: 50vh;
  width: 100vh;
  z-index: 999;
}
.leaflet-container {
  height: 50vh;
  width: 100vh;
}

.Weather {
  grid-column: 13 / 13;
  top: 0;
  width: 20vh;
  padding-left: 10px;
}
