:root {
  background-color: steelblue;
}

.page {
  display: grid;
}

.Favourite {
  grid-column: 1 / 1;
  grid-row: 1;

  font-family: monospace;
  font-size: large;
}

.Map {
  grid-column: 13 / 13;
}
