.weather-info {
  position: absolute;
  pointer-events:none;
  background-color: lavender;
  outline: 2px groove darkgray;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  right: 0px;
  width: 20vh;
  padding-left: 10px;
  top: 0;
}

.weather-info > h3 {
  font-family:sans-serif;
  color: dimgray;
}

.weather-info > h4 {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:dimgray;
}

.weather-info > p {
  font-family: monospace;
  color: black;
}
